name: CD - Deploy Simulated

on:
  workflow_run:
    workflows: ["CI - Build & Test"]
    types:
      - completed

jobs:
  deploy-simulated:
    runs-on: ubuntu-latest

    steps:
      # 1. Descargar repositorio
      - uses: actions/checkout@v4

      # 2. Login en Docker Hub (para poder usar las imágenes)
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 3. Instalar kubectl
      - name: Install kubectl
        run: |
          sudo apt-get update
          sudo apt-get install -y kubectl

      # 4. Instalar Kind
      - name: Install Kind
        run: |
          curl -Lo kind https://kind.sigs.k8s.io/dl/v0.22.0/kind-linux-amd64
          chmod +x kind
          sudo mv kind /usr/local/bin/kind

      # 5. Crear cluster Kind
      - name: Create Kind cluster
        run: kind create cluster --name demo

      # 6. Pull de imágenes desde Docker Hub
      - name: Pull Docker images
        run: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/api:latest
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/worker:latest

      # 7. Cargar imágenes en Kind
      - name: Load images into Kind
        run: |
          kind load docker-image ${{ secrets.DOCKERHUB_USERNAME }}/api:latest --name demo
          kind load docker-image ${{ secrets.DOCKERHUB_USERNAME }}/worker:latest --name demo

      # 8. Aplicar manifests Kubernetes
      - name: Apply Kubernetes manifests
        run: kubectl apply -f k8s/

      # 9. Revisar pods y servicios
      - name: Check deployments
        run: |
          kubectl get pods -A
          kubectl get svc -A
