name: CD - Deploy Simulated

on:
  workflow_run:
    workflows: ["CI - Build & Test"]
    types:
      - completed

jobs:
  deploy-simulated:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download CI artifact
        uses: actions/download-artifact@v4
        with:
          name: images
          run-id: ${{ github.event.workflow_run.id }}

      - name: Unzip artifact
        run: unzip images.zip

      - name: Load Docker images
        run: |
          docker load -i api.tar
          docker load -i worker.tar

      - name: Install kubectl
        run: |
          sudo apt-get update
          sudo apt-get install -y kubectl

      - name: Install Kind
        run: |
          curl -Lo kind https://kind.sigs.k8s.io/dl/v0.22.0/kind-linux-amd64
          chmod +x kind
          sudo mv kind /usr/local/bin/kind

      - name: Create Kind cluster
        run: kind create cluster --name demo

      - name: Load images into Kind
        run: |
          kind load docker-image ${{ secrets.DOCKERHUB_USERNAME }}/api:latest --name demo
          kind load docker-image ${{ secrets.DOCKERHUB_USERNAME }}/worker:latest --name demo

      - name: Apply Kubernetes manifests
        run: kubectl apply -f k8s/

      - name: Check deployments
        run: |
          kubectl get pods -A
          kubectl get svc -A
